<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">新增比賽</h2>

    <input id="sport" name="sport" type="text" class="form-control" placeholder="球類" required />
    <input id="date" name="date" type="text" class="form-control" placeholder="日期" required/>
    <input id="team" name="team" type="text" class="form-control" placeholder="系級" required />
    <input id="locat" name="locat" type="text" class="form-control" placeholder="地點" required/>
    <input id="contact" name="contact" type="text" class="form-control" placeholder="聯絡資訊" required />

    <button id="btnSub" class="btn btn-lg btn-primary" type="submit">確認</button>
</form>  