<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">比賽操作</h2>

    <input id="id" name="id" type="text" class="form-control" placeholder="名字" required />
    <input id="rank" name="rank" type="text" class="form-control" placeholder="評價" required/>
  
    <button id="matching" class="btn btn-lg btn-primary" type="submit">配對</button>
    <button id="selecting" class="btn btn-lg btn-primary" type="submit">挑選</button>
    <button id="ranking" class="btn btn-lg btn-primary" type="submit">評價</button>
    </form> 