<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">註冊</h2>

    <input id="name" name="name" type="text" class="form-control" placeholder="名字" required />
    <input id="email" name="email" type="text" class="form-control" placeholder="信箱" required/>
    <input id="user" name="user" type="text" class="form-control" placeholder="帳號" required />
    <input id="pass" name="pass" type="password" class="form-control" placeholder="密碼" required/>
    <input id="contry" name="contry" type="text" class="form-control" placeholder="系級" required />

    <button id="btnSub" class="btn btn-lg btn-primary" type="submit">確認</button>
    </form>  